:root {
    //--main-color: red;
    --main-color: #db4a37;
    --dark-color: #343436;
}

strong {
    color: white;
}
body {
    background: var(--dark-color);
}

.streaming {
    position: fixed;
    z-index: 999;
    padding-top: 20px;
    width: max-content;
    height: 20px;
    margin: 0 auto;
    top: unset;
    right: 0px;
    bottom: 9%;
    left: 0px;
}

.container {
    max-width: 1000px;
}

.message {
    //margin-top: 0.25rem;
}

.hero {
    margin-bottom: 1rem
}
.hero.is-info {
    background-color: var(--main-color);
}

.message-header {
    background-color: var(--main-color);
}

.message-body {
    cursor: pointer;
    background-color: var(--dark-color);
    color: white;
    padding: 5px 20px;
}

.message-body:hover {
    background-color: var(--main-color);
}

.box {
    cursor: pointer;
    background-color: var(--dark-color);
    color: white;
    margin: 10px 10px !important;
    padding: 10px 20px;
    border-left: solid 1px #757575;
    border-right: solid 1px #757575;
}

.box:hover {
    background-color: hsl(171, 100%, 41%);
}

.media {
    color: white;
}
.button.is-danger {
    background-color: var(--main-color);
}

.image {
    background-color: hsl(0, 0%, 93%);
}
.has-bg-img {
    background: linear-gradient(to top, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7)), url("/img/.jpg") no-repeat center center;
    background-size: contain;
    background-position: relative;
    background-attachment: fixed;
}

.footer {
    margin-top: 1rem;
    background-color: #b1cdcd;
}
