<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>{{ site.title }}</strong><br>
      {{ site.subtitle1 }} 
      <div><img src="img/chanchos.jpg"/></div>
      
            <br>
            <hr>
      <a rel="license"
     href="https://creativecommons.org/publicdomain/zero/1.0/deed.es"/>
    <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0"/>
      </a>
    </p>
  </div>
</footer>
