 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">

<meta name="description" content="Podcast CIAP" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Podcast CIAP" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://podcast.ciap.org.ar" />
    <meta property="og:image" content="https://podcast.ciap.org.ar/img/podcast.jpg" />
    <meta property="og:description" content="Podcast CIAP" />

  </head>
