<section class="hero is-primary is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ site.title }}
      </h1>
      <h2 class="subtitle">
        <strong>{{ site.subtitle1 }}</strong><br>
        {{ site.subtitle2 }}
      </h2>
      <h1 class="title">
        <br>{% include headphones.svg %} podcast {% include radio.svg %}
      </h1>
    </div>
  </div>
</section>
